.cards {
  margin: 51px auto 67px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 17px 20px;
}

@media screen and (max-width: 1279px) {
  .cards {
    margin: 51px auto 67px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 17px 20px;
  }
}

@media screen and (max-width: 1023px) {
  .cards {
    margin: 51px auto 67px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 17px 20px;
  }
}

@media screen and (max-width: 950px) {
  .cards {
    margin: 51px calc(100%-581px) / 2 67px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 17px 20px;
  }
}

@media screen and (max-width: 645px) {
  .cards {
    margin: 51px 19px 67px;
    display: grid;
    grid-template-columns: repeat(1, 282px);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 17px 20px;
  }
}
