.profile__description {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  margin: 0;
  width: 303px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 760px) {
  .profile__description {
    grid-template-columns: 362px auto 0 65px;
  }
}

@media screen and (max-width: 425px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    width: 203px;
  }
}
