.popup__item {
  display: flex;
  margin: 54px auto 0;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  color: #000;
  align-items: center;
  max-width: 340px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup__item:nth-of-type(2) {
  margin: 30px auto 0;
}
