.page__container {
  max-width: 880px;
  min-height: 100vh;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .page__container {
    max-width: 880px;
  }
}

@media screen and (max-width: 1023px) {
  .page__container {
    max-width: 880px;
    min-height: 100vh;
    margin: 0 auto;
  }
}

@media screen and (max-width: 950px) {
  .page__container {
    max-width: 581px;
  }
}

@media screen and (max-width: 794px) {
  .page__container {
    max-width: 581px;
  }
}

@media screen and (max-width: 615px) {
  .page__container {
    max-width: 282px;
    min-height: 100vh;
    margin: 0 auto;
  }
}
