.card {
  background-color: #fff;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 282px;
  grid-template-rows: 282px 79px;
  grid-template-areas:
    'image'
    'card-title form__button';
}

@media screen and (max-width: 1023px) {
  .card {
    background-color: #fff;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 282px;
    grid-template-rows: 282px 79px;
    grid-template-areas:
      'image'
      'card-title card__button';
  }
}

@media screen and (max-width: 767px) {
  .card {
    background-color: #fff;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 282px;
    grid-template-rows: 282px 79px;
    grid-template-areas:
      'image'
      'card-title card__button';
  }
}

@media screen and (max-width: 625px) {
  .card {
    align-items: center;
  }
}
